.modify {
  margin-top: 40px;
  margin-left: 30%;
}

.inp {
  width: 500px;
}

.space {
  margin-top: 20px;
}

button {
  margin-right: 20px;
  background-color: rgb(20, 20, 190);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(230, 144, 65);
}
